{% extends "layout.html.twig" %}

{% block title "Blog" %}

{% block body %}
<h1>Bienvenue sur le blog</h1>
<ul>
    <li><a href="{{ router.generateUri('blog.show',{slug: 'mon-article'})}}">Article 1</a></li>
    <li>Article</li>
    <li>Article</li>
    <li>Article</li>
</ul>
{% endblock %}
